body {
    text-align: center;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif
}


input {
    display: block;
    margin: auto;
    margin-bottom: 15px;
    text-align: center;
    width: 80px;
    font-size: 15px;
}

input:hover {
    cursor: pointer;
}

button {
    font-size: 15px;
    border-radius: 5px;
    border: solid 1px;
}
button:hover{
    cursor: pointer;
    background-color:rgb(16, 145, 145);
    text-decoration: underline;
}
.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(54, 204, 204);
    width: 400px;
    margin: auto;
    margin-top: 50px;
    padding: 30pX;
    border-radius: 20px;
    text-align:center;
}